<h3>fill Your data:</h3>

<div class="form-group">
    <label for="usr">Username:</label>
    <input type="text" class="form-control" id="usr" [(ngModel)]="username">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password:</label>
    <input type="password" class="form-control" id="inputPassword" [(ngModel)]="password ">
  </div>
  <div class="form-group">
    <label for="usr">Email:</label>
    <input type="text" class="form-control" id="usr" [(ngModel)]="email">
  </div>
  <button class="btn btn-info btn-add"><a (click)="register()">Register</a> </button>