<h3>Uzupełnij dane książki:</h3>

<div class="form-group">
    <label for="usr">ID:</label>
    <input type="text" class="form-control" id="usr">
  </div>

  <div class="form-group">
    <label for="usr">TYTUŁ KSIĄŻKI:</label>
    <input type="text" class="form-control" id="usr">
  </div>
  <div class="form-group">
    <label for="usr">AUTOR KSIĄŻKI:</label>
    <input type="text" class="form-control" id="usr">
  </div>
  <div class="form-group">
    <label for="usr">ROK WYDANIA KSIĄŻKI:</label>
    <input type="text" class="form-control" id="usr">
  </div>

  <button class="btn btn-info btn-add"><a href="#" [routerLink]="['/books']">ZATWIERDŹ</a> </button>
  