<form>
    <div class="form-group">
        <label for="inputEmail">Email:</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" [(ngModel)]="email" required autofocus>
    </div>
    <div class="form-group">
        <label for="inputPassword">Hasło:</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Hasło" name="password" [(ngModel)]="password" required>
    </div>
    
    <button type="submit" class="btn btn-primary"><a (click)="login()">Zaloguj się</a></button>
</form>

