<button class="btn btn-info btn-add"><a href="#" [routerLink]="['/book-add']">Dodaj książkę</a> </button>
<button class="btn btn-info btn-del"><a href="#" [routerLink]="['/book-del']">Usuń książkę</a> </button>
<h1>KSIĄŻKI</h1>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tytuł</th>
        <th scope="col">Liczba stron</th>
        <th scope="col">Opis</th>
        <th scope="col">Autor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td scope="row">{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.number_of_pages}}</td>
        <td>{{book.description}}</td>
        <td>{{book.author_id}}</td>
      </tr>    
    </tbody>
  </table>