<h3>Fill author data:</h3>

  <div *ngIf="showError" class="alert alert-danger" role="alert">
    Incorrect data! 
    <button type="button" class="btn-close" aria-label="Close" (click)="closeErrorMessage()"> </button>
  </div>

  <div class="form-group">
    <label for="usr">First name:</label>
    <input type="text" class="form-control" id="usr" [(ngModel)]="first_name">
  </div>
  <div class="form-group">
    <label for="usr">Last name: </label>
    <input type="text" class="form-control" id="usr" [(ngModel)]="last_name">
  </div>
  <div class="form-group">
    <label for="usr">Birth date:</label>
    <input type="text" class="form-control" id="usr" [(ngModel)]="birth_date">
  </div>
  <button class="btn btn-info btn-add"><a (click)="addAuthor()" >Confirm</a> </button>