<h3>Uzupełnij dane:</h3>

<div class="form-group">
    <label for="usr">IMIĘ I NAZWISKO AUTORA:</label>
    <input type="text" class="form-control" id="usr">
  </div>

  <div class="form-group">
    <label for="usr">ROK URODZENIA:</label>
    <input type="text" class="form-control" id="usr">
  </div>
  <div class="form-group">
    <label for="usr">NARODOWOŚĆ:</label>
    <input type="text" class="form-control" id="usr">
  </div>
  <button class="btn btn-info btn-add"><a href="#" [routerLink]="['/authors']">ZATWIERDŹ</a> </button>