<button class="btn btn-info btn-add"><a href="#" [routerLink]="['/author-add']">Dodaj autora</a> </button>
<button class="btn btn-info btn-del"><a href="#" [routerLink]="['/author-del']">Usuń autora</a> </button>
<h1>AUTORZY</h1>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Imię i nazwisko</th>
        <th scope="col">Rok urodzenia</th>
        <th scope="col">Narodowość</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">J.K. Rowling</th>
        <td>1986</td>
        <td>Wielka Brytania</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
      </tr>
      
    </tbody>
  </table>